HELP.md
target/
.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Responsive configuration ###
src/main/resources/application.properties

### Temporary files and logs ###
*.log
*.tmp
*.swp
*.swo
.DS_Store
Thumbs.db
